

#gallery{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
text-align: center;
}
.gallery-heading h2{
    font-size: 40px;
    color:  rgb(44,62,80);
}



.gallery .icon{
    position: relative;
}
.gallery .icon .bi-star-fill{
    color:  rgb(44,62,80);
    font-size: 40px;
position: relative;
}




.gallery .col img{
    height: 100%;
    width: 100%;
object-fit: fill;
}
@media screen and (max-width:600px) {
    

#gallery{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
text-align: center;
}
.gallery-heading h2{
    font-size: 40px;
    color:  rgb(44,62,80);
}



.gallery .icon{
    position: relative;
}
.gallery .icon .bi-star-fill{
    color:  rgb(44,62,80);
    font-size: 40px;
position: relative;
}





}